.moive-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  padding: 10px 30px;
}
.movie-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  gap: 10px;
}

.moive-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  color: rgb(179, 182, 235);
  padding: 30px;
  border-radius: 10px;
}
.movie-card:hover{
  border: 1px red solid;
  transform: scale(1.05);
  transition: transform 0.3s, border 0.3s;
}
.movie-image{
  width: 100%;
  border-radius: 10px;
}

@media(max-width: 1216px){
  .moive-card-container{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media(max-width: 1106px){
  .moive-card-container{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 996px){
  .moive-card-container{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media(max-width: 886px){
  .moive-card-container{
  grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 776px){
  .moive-card-container{
  grid-template-columns: 1fr 1fr;
  }
}

